<a href="https://colab.research.google.com/github/giginar/Machinelearning/blob/main/Data%20analysis%20and%20parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Imports

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

###Data information and Load

amount_tsh – Total static head (amount water available to waterpoint)

date_recorded – The date the row was entered

funder – Who funded the well

gps_height – Altitude of the well

installer – Organization that installed the well

longitude – GPS coordinate

latitude – GPS coordinate

wpt_name – Name of the waterpoint if there is one

num_private -No description

basin – Geographic water basin

subvillage – Geographic location

region – Geographic location

region_code – Geographic location (coded)

district_code – Geographic location (coded)

lga – Geographic location

ward – Geographic location

population – Population around the well

public_meeting – True/False

recorded_by – Group entering this row of data

scheme_management – Who operates the water point

scheme_name – Who operates the water point

permit – If the water point is permitted

construction_year – Year the water point was constructed

extraction_type – The kind of extraction the water point uses

extraction_type_group – The kind of extraction the water point uses

extraction_type_class – The kind of extraction the water point uses

management – How the water point is managed

management_group – How the water point is managed

payment – What the water costs

payment_type – What the water costs

water_quality – The quality of the water

quality_group – The quality of the water

quantity – The quantity of water

quantity_group – The quantity of water

source – The source of the water

source_type – The source of the water

source_class – The source of the water

waterpoint_type – The kind of waterpoint

waterpoint_type_group – The kind of waterpoint

In [ ]:
df_labels = pd.read_csv("/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/training_set_labels.csv")
df_values = pd.read_csv("/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/training_set_values.csv")
df = pd.merge(df_values, df_labels, on='id')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [ ]:
df.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

In [ ]:
#cheking if there are null values.
df.apply(lambda x: sum(x.isnull()))

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [ ]:
#funder,installer,gps_height,subvillage,public_meeting,scheme_management,scheme_name,permit have some null values.

In [ ]:
#These geographical values will not be effective on the model.
#region_code and district_code are wont be effective also.
#id is also not necessary.
#num_private is the same.
df = df.drop(['gps_height', 'longitude', 'latitude', 'region_code', 'district_code','num_private'], axis=1)

In [ ]:
#wpt_name is name of the waterpoint, it wont be effective, so i will drop it.
df = df.drop(['wpt_name'], axis=1)

In [ ]:
#base, lga, ward and region are string values and all are related referring to the same thing, 
#georaphical location of the wells. They maybe correlated with each other. We will drop them.
df = df.drop(['region', 'lga', 'ward'], axis=1)

In [ ]:
df.recorded_by.value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [ ]:
#all the recorded by the same company, must be dropped.
df = df.drop('recorded_by', axis=1)

###extraction_type, extraction_type_group and extraction_type_class

In [ ]:
# extraction_type, extraction_type_group and extraction_type_class are the same data.
# Two of them must be dropped.
print(df.groupby(['extraction_type_group', 'extraction_type','extraction_type_class']).size())

extraction_type_group  extraction_type            extraction_type_class
afridev                afridev                    handpump                  1770
gravity                gravity                    gravity                  26780
india mark ii          india mark ii              handpump                  2400
india mark iii         india mark iii             handpump                    98
mono                   mono                       motorpump                 2865
nira/tanira            nira/tanira                handpump                  8154
other                  other                      other                     6430
other handpump         other - mkulima/shinyanga  handpump                     2
                       other - play pump          handpump                    85
                       other - swn 81             handpump                   229
                       walimi                     handpump                    48
other motorpump        cemo                       motorpump                   90
                       climax                     motorpump                   32
rope pump              other - rope pump          rope pump                  451
submersible            ksb                        submersible               1415
                       submersible                submersible               4764
swn 80                 swn 80                     handpump                  3670
wind-powered           windmill                   wind-powered               117
dtype: int64

In [ ]:
df = df.drop(['extraction_type', 'extraction_type_group'], axis=1)

###management, management_group and scheme_management

In [ ]:
#management, management_group and scheme_management can be same.
df.management.value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [ ]:
df.scheme_management.value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [ ]:
df.management_group.value_counts()

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

In [ ]:
#looks like same thing i will drop two. 
#management_group has a user_group thing looks good to drop
#scheme_management has some nulls so i will drop that one.

In [ ]:
df = df.drop(['management_group','management'], axis=1)

###Payment - Payment Value

In [ ]:
#payment and payment_value can also be same or similar.
print(df.groupby(['payment','payment_type']).size())

payment                payment_type
never pay              never pay       25348
other                  other            1054
pay annually           annually         3642
pay monthly            monthly          8300
pay per bucket         per bucket       8985
pay when scheme fails  on failure       3914
unknown                unknown          8157
dtype: int64

In [ ]:
#payment and payment_value, they are exact match, one will drop.
df = df.drop('payment', axis=1)

###water_quality and quality_group

In [ ]:
#water_quality and quality_group can also be same or similar.
print(df.groupby(['water_quality','quality_group']).size())

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [ ]:
#water_quality and quality_group, they are representing the same thing, one will drop.
df = df.drop('quality_group', axis=1)

###quantity and quantity_group

In [ ]:
#quantity and quantity_group can also be same or similar.
print(df.groupby(['quantity','quantity_group']).size())

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [ ]:
#quantity and quantity_group, they are exact match, one will drop.
df = df.drop('quantity_group', axis=1)

###Source, source_type and source_class

In [ ]:
#Source, source_type and source_class can be the same.

In [ ]:
print(df.groupby(['source','source_type','source_class']).size())

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [ ]:
df.source.value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [ ]:
df.source_class.value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [ ]:
df.source_type.value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [ ]:
#Source class is different then others, it will stay.
#source and source_type are the same thing, so one will drop.
df = df.drop('source', axis=1)

###Waterpoint_type and waterpoint_type_group

In [ ]:
print(df.groupby(['waterpoint_type','waterpoint_type_group']).size())

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [ ]:
#waterpoint_type waterpoint_type_group are representing the same.
#one of them will drop.
df = df.drop('waterpoint_type_group', axis=1)

###Rest of the null values and others

In [ ]:
df.apply(lambda x: sum(x.isnull()))

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
installer                 3655
basin                        0
subvillage                 371
population                   0
public_meeting            3334
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type_class        0
payment_type                 0
water_quality                0
quantity                     0
source_type                  0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [ ]:
#gps_height, had some null values, but they are removed.
#funder,installer,subvillage,public_meeting,scheme_name,permit have some null values,
#we have to deal with them.

In [ ]:
#sns.countplot(x='subvillage',data=df) that's not working.
print(df.subvillage.value_counts())

Madukani              508
Shuleni               506
Majengo               502
Kati                  373
Mtakuja               262
                     ...
Kiwanja 12              1
Kisiso                  1
Kwemn`Gongo             1
Mwasuta                 1
Mwasonga Magengeni      1
Name: subvillage, Length: 19287, dtype: int64

In [ ]:
#Length: 19287, that much different village can not be effective on the model.
df = df.drop('subvillage', axis=1)

In [ ]:
df.groupby(['installer','funder','status_group']).size()

installer       funder                  status_group
-               Government Of Tanzania  functional                   1
                                        non functional               1
                Kalebejo Parish         functional                   1
0               0                       functional                 445
                                        functional needs repair      3
                                                                  ...
wizara ya maji  Serikali                functional                   2
world           World Bank              functional needs repair      1
                                        non functional               3
world banks     World Bank              non functional               1
world vision    World Vision            functional                   1
Length: 5188, dtype: int64

In [ ]:
#installer and funder representing the same thing, will drop installer.
#also, filling empty funder rows with "unknown"
df.funder = df.funder.fillna('unknown')
df = df.drop('installer',axis=1)

In [ ]:
#Permit and public meeting
#can be dropped or filled with other.
df.permit = df.permit.fillna('other')
df.public_meeting  = df.public_meeting .fillna('other')

In [ ]:
df.apply(lambda x: sum(x.isnull()))

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
basin                        0
population                   0
public_meeting               0
scheme_management         3877
scheme_name              28166
permit                       0
construction_year            0
extraction_type_class        0
payment_type                 0
water_quality                0
quantity                     0
source_type                  0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [ ]:
df.groupby(['scheme_management','scheme_name','status_group']).size()

scheme_management  scheme_name               status_group
Company            BFFS                      non functional               1
                   Bagamoyo Wate             functional                  47
                                             non functional              13
                   Bagamoyo wate             functional                 150
                                             non functional              60
                                                                       ...
Water authority    no scheme                 functional                   5
                                             functional needs repair      1
                                             non functional               3
                   pump                      non functional               2
                   water supply at Kalebejo  non functional               1
Length: 4630, dtype: int64

In [ ]:
#scheme_name – Who operates the water point
#too much empty variable, but will fill the empty ones with unknown also.
df = df.drop('scheme_name',axis=1)
df.scheme_management = df.scheme_management.fillna('unknown')

In [ ]:
#there are no null values.

###Construction_year is string

In [ ]:
df.construction_year.value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [ ]:
df.isnull().sum()
df['date_recorded'] = pd.to_datetime(df['date_recorded'])
df.date_recorded.head(5)
print(df.date_recorded.dt.year.head(5))
print(df.construction_year.head(5))
df['well_age'] = df.date_recorded.dt.year - df.construction_year
df = df.drop(['construction_year','date_recorded'], axis=1)
df.well_age.head(5)

0    2011
1    2013
2    2013
3    2013
4    2011
Name: date_recorded, dtype: int64
0    1999
1    2010
2    2009
3    1986
4       0
Name: construction_year, dtype: int64

0      12
1       3
2       4
3      27
4    2011
Name: well_age, dtype: int64

###Last modeifications and save

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   funder                 59400 non-null  object
 3   basin                  59400 non-null  object
 4   population             59400 non-null  int64
 5   public_meeting         59400 non-null  object
 6   scheme_management      59400 non-null  object
 7   permit                 59400 non-null  object
 8   extraction_type_class  59400 non-null  object
 9   payment_type           59400 non-null  object
 10  water_quality          59400 non-null  object
 11  quantity               59400 non-null  object
 12  source_type            59400 non-null  object
 13  source_class           59400 non-null  object
 14  waterpoint_type        59400 non-null  object
 15  status_group           59400 non-null  object
 16  well_age               59400 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 8.2+ MB

In [ ]:
#in case there is random capitalization

df.funder = df.funder.str.lower()
df.basin = df.basin.str.lower()
df.extraction_type_class=df.extraction_type_class.str.lower()
df.scheme_management = df.scheme_management.str.lower()
df.water_quality = df.water_quality.str.lower()
df.quantity = df.quantity.str.lower()
df.source_type = df.source_type.str.lower()
df.source_class = df.source_class.str.lower()
df.waterpoint_type = df.waterpoint_type.str.lower()

In [ ]:
df.head()

      id  amount_tsh  ...    status_group well_age
0  69572      6000.0  ...      functional       12
1   8776         0.0  ...      functional        3
2  34310        25.0  ...      functional        4
3  67743         0.0  ...  non functional       27
4  19728         0.0  ...      functional     2011

[5 rows x 17 columns]

In [ ]:
#vals_to_replace = {'functional':2, 'functional needs repair':1,'non functional':0}

#df['status_group_vals']  = df.status_group.replace(vals_to_replace)

In [ ]:
df.to_csv('/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/train_data_for_models.csv', index=False)

###Same modifications should be also in the test data.

In [ ]:
df_test = pd.read_csv("/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/test_set_values.csv")

In [ ]:
df_test['date_recorded'] = pd.to_datetime(df_test['date_recorded'])
df_test.date_recorded.head(5)
print(df_test.date_recorded.dt.year.head(5))
print(df_test.construction_year.head(5))
df_test['well_age'] = df_test.date_recorded.dt.year - df_test.construction_year
df_test = df_test.drop(['construction_year','date_recorded'], axis=1)
df_test.well_age.head(5)

0    2013
1    2013
2    2013
3    2013
4    2013
Name: date_recorded, dtype: int64
0    2012
1    2000
2    2010
3    1987
4    2000
Name: construction_year, dtype: int64

0     1
1    13
2     3
3    26
4    13
Name: well_age, dtype: int64

In [ ]:
df_test.columns

Index(['id', 'amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage', 'region',
       'region_code', 'district_code', 'lga', 'ward', 'population',
       'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name',
       'permit', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'payment_type', 'water_quality', 'quality_group', 'quantity',
       'quantity_group', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group', 'well_age'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   funder                 59400 non-null  object
 3   basin                  59400 non-null  object
 4   population             59400 non-null  int64
 5   public_meeting         59400 non-null  object
 6   scheme_management      59400 non-null  object
 7   permit                 59400 non-null  object
 8   extraction_type_class  59400 non-null  object
 9   payment_type           59400 non-null  object
 10  water_quality          59400 non-null  object
 11  quantity               59400 non-null  object
 12  source_type            59400 non-null  object
 13  source_class           59400 non-null  object
 14  waterpoint_type        59400 non-null  object
 15  status_group           59400 non-null  object
 16  well_age               59400 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 8.2+ MB

In [ ]:
df_test = df_test.drop(['gps_height','installer', 'longitude', 'latitude',
                        'wpt_name', 'num_private', 'subvillage', 'region', 'region_code', 
                        'district_code', 'lga', 'ward','recorded_by',
                        'extraction_type', 'extraction_type_group','scheme_name',
                        'management_group','management','payment','quality_group', 'quantity_group',
                        'source', 'waterpoint_type_group'], axis=1)

In [ ]:
df_test.scheme_management = df_test.scheme_management.fillna('unknown')
df_test.funder = df_test.funder.fillna('unknown')
df_test.public_meeting  = df_test.public_meeting .fillna('other')
df_test.permit = df_test.permit.fillna('other')

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     14850 non-null  int64
 1   amount_tsh             14850 non-null  float64
 2   funder                 14850 non-null  object
 3   basin                  14850 non-null  object
 4   population             14850 non-null  int64
 5   public_meeting         14850 non-null  object
 6   scheme_management      14850 non-null  object
 7   permit                 14850 non-null  object
 8   extraction_type_class  14850 non-null  object
 9   payment_type           14850 non-null  object
 10  water_quality          14850 non-null  object
 11  quantity               14850 non-null  object
 12  source_type            14850 non-null  object
 13  source_class           14850 non-null  object
 14  waterpoint_type        14850 non-null  object
 15  well_age               14850 non-null  int64
dtypes: float64(1), int64(3), object(12)
memory usage: 1.8+ MB

In [ ]:
df_test.to_csv('/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/test_data_for_models.csv', index=False)