<a href="https://colab.research.google.com/github/giginar/Machinelearning/blob/main/Project_model_and_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.svm import LinearSVC
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/train_data_for_models.csv')
test  = pd.read_csv('/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/test_data_for_models.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   funder                 59400 non-null  object
 3   gps_height             59400 non-null  int64
 4   basin                  59400 non-null  object
 5   region                 59400 non-null  object
 6   region_code            59400 non-null  int64
 7   lga                    59400 non-null  object
 8   population             59400 non-null  int64
 9   public_meeting         59400 non-null  object
 10  scheme_management      59400 non-null  object
 11  permit                 59400 non-null  object
 12  extraction_type_class  59400 non-null  object
 13  payment_type           59400 non-null  object
 14  water_quality          59400 non-null  object
 15  quantity               59400 non-null  object
 16  source_type            59400 non-null  object
 17  source_class           59400 non-null  object
 18  waterpoint_type        59400 non-null  object
 19  status_group           59400 non-null  object
 20  well_age               59400 non-null  int64
dtypes: float64(1), int64(5), object(15)
memory usage: 9.5+ MB

In [ ]:
train.shape,test.shape

((59400, 21), (14850, 20))

In [ ]:
target=train.pop('status_group')

In [ ]:
train['train']=1
test['train']=0
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   funder                 59400 non-null  object
 3   gps_height             59400 non-null  int64
 4   basin                  59400 non-null  object
 5   region                 59400 non-null  object
 6   region_code            59400 non-null  int64
 7   lga                    59400 non-null  object
 8   population             59400 non-null  int64
 9   public_meeting         59400 non-null  object
 10  scheme_management      59400 non-null  object
 11  permit                 59400 non-null  object
 12  extraction_type_class  59400 non-null  object
 13  payment_type           59400 non-null  object
 14  water_quality          59400 non-null  object
 15  quantity               59400 non-null  object
 16  source_type            59400 non-null  object
 17  source_class           59400 non-null  object
 18  waterpoint_type        59400 non-null  object
 19  well_age               59400 non-null  int64
 20  train                  59400 non-null  int64
dtypes: float64(1), int64(6), object(14)
memory usage: 9.5+ MB

In [ ]:
train.shape,test.shape

((59400, 21), (14850, 21))

In [ ]:
combined = pd.concat([train, test])

In [ ]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     74250 non-null  int64
 1   amount_tsh             74250 non-null  float64
 2   funder                 74250 non-null  object
 3   gps_height             74250 non-null  int64
 4   basin                  74250 non-null  object
 5   region                 74250 non-null  object
 6   region_code            74250 non-null  int64
 7   lga                    74250 non-null  object
 8   population             74250 non-null  int64
 9   public_meeting         74250 non-null  object
 10  scheme_management      74250 non-null  object
 11  permit                 74250 non-null  object
 12  extraction_type_class  74250 non-null  object
 13  payment_type           74250 non-null  object
 14  water_quality          74250 non-null  object
 15  quantity               74250 non-null  object
 16  source_type            74250 non-null  object
 17  source_class           74250 non-null  object
 18  waterpoint_type        74250 non-null  object
 19  well_age               74250 non-null  int64
 20  train                  74250 non-null  int64
dtypes: float64(1), int64(6), object(14)
memory usage: 12.5+ MB

In [ ]:
combined['funder'] = pd.factorize(combined['funder'])[0]
combined['basin'] = pd.factorize(combined['basin'])[0]
combined['region'] = pd.factorize(combined['region'])[0]
combined['lga'] = pd.factorize(combined['lga'])[0]
combined['public_meeting'] = pd.factorize(combined['public_meeting'])[0]
combined['scheme_management'] = pd.factorize(combined['scheme_management'])[0]
combined['permit'] = pd.factorize(combined['permit'])[0]
combined['extraction_type_class'] = pd.factorize(combined['extraction_type_class'])[0]
combined['payment_type'] = pd.factorize(combined['payment_type'])[0]
combined['water_quality'] = pd.factorize(combined['water_quality'])[0]
combined['quantity'] = pd.factorize(combined['quantity'])[0]
combined['source_type'] = pd.factorize(combined['source_type'])[0]
combined['source_class'] = pd.factorize(combined['source_class'])[0]
combined['waterpoint_type'] = pd.factorize(combined['waterpoint_type'])[0]

In [ ]:
train_df = combined[combined["train"] == 1]
test_df = combined[combined["train"] == 0]
train_df.drop(["train"], axis=1, inplace=True)
train_df.drop(['id'],axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)

In [ ]:
#define X train
X = train_df
#y_train indentified at the beginning 
y = target

In [ ]:
#model = RandomForestClassifier(n_estimators=100, max_depth=10)
#score_rfc_1 = 0.7295
#model = DecisionTreeClassifier(max_depth=10)
#score_dtc_1 = 0.6469
#model = GradientBoostingClassifier(ccp_alpha=0.01, n_estimators=100, min_samples_split=4)
#score_gbc_1 = 0.6877
#model = XGBClassifier(reg_lambda=5, n_estimators=100, reg_alpha=0.5)
#score_xgbc_1 = 0.7143
#model = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,max_depth = 14, colsample_bytree = .4)
#score_xgbc_2 = 0.7384
#model = XGBClassifier(reg_lambda=5, n_estimators=100, reg_alpha=0.5)

#model = GradientBoostingClassifier(min_samples_leaf=16, n_estimators=100, learning_rate=0.075, max_features=1, max_depth=14)
#score_GBC_2=0.7098
#model = GradientBoostingClassifier(min_samples_leaf=16, n_estimators=100, learning_rate=0.075, max_features=1, max_depth=14)
#submission_GBC_3withDataV2=0.6976
#model = XGBClassifier(max_depth=12, n_estimators=1200,early_stopping_rounds = 9, nfold=6)
#submission_GBC_4=0.6539
#model = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,max_depth = 14, colsample_bytree = .4)
#score_xgbc_3 =0.7613
#model = RandomForestClassifier(n_estimators=100, max_depth=10)
#score_rfc_2 = 0.7422
model = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,max_depth = 14, colsample_bytree = .4)
#submission_score_xgbc_4 = 0.7731

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(model, X, y, cv=3)

array([0.8010101 , 0.8029798 , 0.80070707])

In [ ]:
model.fit(X,y)
X.info()
importances = model.feature_importances_
importances

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   funder                 59400 non-null  int64
 2   gps_height             59400 non-null  int64
 3   basin                  59400 non-null  int64
 4   region                 59400 non-null  int64
 5   region_code            59400 non-null  int64
 6   lga                    59400 non-null  int64
 7   population             59400 non-null  int64
 8   public_meeting         59400 non-null  int64
 9   scheme_management      59400 non-null  int64
 10  permit                 59400 non-null  int64
 11  extraction_type_class  59400 non-null  int64
 12  payment_type           59400 non-null  int64
 13  water_quality          59400 non-null  int64
 14  quantity               59400 non-null  int64
 15  source_type            59400 non-null  int64
 16  source_class           59400 non-null  int64
 17  waterpoint_type        59400 non-null  int64
 18  well_age               59400 non-null  int64
dtypes: float64(1), int64(18)
memory usage: 9.1 MB

array([0.03329914, 0.02416009, 0.02104076, 0.0249998 , 0.03356763,
       0.03543364, 0.04111778, 0.01809627, 0.02791829, 0.02706558,
       0.02163546, 0.09797889, 0.03117285, 0.02701665, 0.33182117,
       0.0278319 , 0.03076991, 0.1183215 , 0.02675259], dtype=float32)

In [ ]:
importances = model.feature_importances_
importances
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

for f in range(X.shape[1]):
    print(X.columns[indices[f]],end=', ')

Feature ranking:
1. feature 14 (0.331821)
2. feature 17 (0.118322)
3. feature 11 (0.097979)
4. feature 6 (0.041118)
5. feature 5 (0.035434)
6. feature 4 (0.033568)
7. feature 0 (0.033299)
8. feature 12 (0.031173)
9. feature 16 (0.030770)
10. feature 8 (0.027918)
11. feature 15 (0.027832)
12. feature 9 (0.027066)
13. feature 13 (0.027017)
14. feature 18 (0.026753)
15. feature 3 (0.025000)
16. feature 1 (0.024160)
17. feature 10 (0.021635)
18. feature 2 (0.021041)
19. feature 7 (0.018096)
quantity, waterpoint_type, extraction_type_class, lga, region_code, region, amount_tsh, payment_type, source_class, public_meeting, source_type, scheme_management, water_quality, well_age, basin, funder, permit, gps_height, population,

In [ ]:
X_test=test_df

In [ ]:
model.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, eta=0.2,
              eval_metric='merror', gamma=0, learning_rate=0.1,
              max_delta_step=0, max_depth=14, maximize=False,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nrounds='min.error.idx', nthread=None, num_class=4,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [ ]:
a=X_test['id']
X_test.drop(['id'],axis=1, inplace=True)
y_pred = model.predict(X_test)

In [ ]:
y_pred=pd.DataFrame(y_pred)
y_pred['id']=a
y_pred.columns=['status_group','id']
y_pred=y_pred[['id','status_group']]

In [ ]:
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14850 non-null  int64
 1   status_group  14850 non-null  object
dtypes: int64(1), object(1)
memory usage: 232.2+ KB

In [ ]:
validation_accuracy = model.score(X, y)
print('Validation accuracy: ', validation_accuracy)

Validation accuracy:  0.9063131313131313

In [ ]:
pd.DataFrame(y_pred).to_csv("/content/drive/MyDrive/Dersler/8_IT541_Machine_Learning/project/submission_score_xgbc_4.csv")